    <a href="#nav-panel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-notext ui-icon-bars">Menu</a>
    <h1>Som Livre - Catálogo Virtual{{titulo}}</h1>
    <a href="#nav-panel-config" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-notext ui-icon-gear">Config</a>