<ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar no catálogo" id="listacatalogos">
{{#.}}
    <li>
        <a href="#" onclick="javascript:dbo.carregaCatalogo({{id_produto}}, '{{origem}}');">
            <img src="file:///mnt/sdcard/com.m2software.somlivreapp/media/{{id_produto}}/imagens/thumb.jpg" style="width:65px;"/>
            <h2>{{this.titulo}} ({{this.catalogo}})</h2>
            <p><strong>{{this.artista}}</strong></p>
            <p>{{this.texto_cheio}}</p>
            <span class="ul-li-aside">R$ {{this.preco}}</span>
        </a>
    </li>
{{/.}}
</ul>
