<div data-role="header" data-position="fixed">
    <a href="#nav-panel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-notext ui-icon-bars">Menu</a>
    <h1 class="titulogeral">{{titulogeral}}</h1>
    <a href="#nav-panel-config" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-mini ui-corner-all ui-btn-icon-notext ui-icon-gear">Som Livre</a>
    <div data-role="navbar">
        <ul>
            <li><a href="#panel-home" {{#if this.id_classe1}} class="ui-btn-active" {{/if}}>Lançamentos</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(2);" {{#if this.id_classe2}} class="ui-btn-active" {{/if}}>Mídia</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(3);" {{#if this.id_classe3}} class="ui-btn-active" {{/if}}>Destaque</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(4);" {{#if this.id_classe4}} class="ui-btn-active" {{/if}}>Catálogo</a></li>
            <li><a href="#" onClick="ativaGenero();">Gênero</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
<div role="main" class="ui-content" id="conteudo_catalogo">
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" style="margin-right:15px; margin-top: 0px; padding-top: 0px;">
                <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">{{this.artista}}</li>
                <li class="ui-li-static ui-body-inherit ui-last-child">{{this.catalogo}} - "{{this.titulo}}"</li>
            </ul>
            <div data-role="controlgroup" data-mini="true" data-type="horizontal" style="margin: 0 auto; text-align:center; margin-top:10px; margin-bottom:5px;">
                <a href="#popupAdicionaProduto" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-icon-plus ui-btn-icon-left ui-btn-a" data-transition="pop">Incluir</a>
                <input  type="text" name="preco" id="preco"  value="R$ {{this.preco}}" data-wrapper-class="controlgroup-textinput ui-btn" readonly="readonly" data-theme="a"   style="width:80px; text-align: right;" class="qtd"/>
            </div>
            <div style="width:100%; text-align: center;">
                <img src="file:///mnt/sdcard/com.m2software.somlivreapp/media/{{id_produto}}/imagens/capa.jpg" alt="sem capa" style="height:430px;"/>
            </div>
        </div>
        <div class="ui-block-b" style="border-left: solid 2px #cccccc;">
            <div class="rolado" style="height:590px; max-height:590px; overflow-y:scroll;">
                <div class="subtitulo">Descrição</div>
                <div class="texto">{{{this.texto_cheio}}}</div>
                <div class="subtitulo">Gênero</div>
                <div class="texto">{{this.generos}}</div>
                <div class="subtitulo">Código de barras</div>
                <div class="texto">{{this.codigo_barras}}</div>
                {{#if this.relacionados}}
                    <div class="subtitulo">Produtos relacionados</div>
                    <table style="border-collapse: collapse;">
                    {{#each relacionados}}
                       <tr><td style="border-top:solid 1px #cccccc">{{artista}}</td><td style="border-top:solid 1px #cccccc">{{titulo}}</td><td style="border-top:solid 1px #cccccc"><button class="ui-btn ui-icon-carat-r ui-btn-icon-notext ui-corner-all" onClick="controllerProduto.show({{id_produto}}, '{{origem}}');" title="Clique para ver os detalhes desse produto"></button></td>
                    {{/each}}                                    
                    </table>
                {{/if}}
                
            </div>
        </div>
    </div>
    <div data-role="popup" id="popupAdicionaProduto" data-theme="a" class="ui-corner-all">
        <form id="frmAdicionaProduto">
            <div style="padding:10px 20px;">
                <h3></h3>
                <label for="un" >Preço (R$):</label>
                <input type="text" name="preco" id="preco" value="{{this.preco}}" data-theme="a" style="text-align: right;">
                <label for="pw" >Quantidade:</label>
                <input type="text" name="qtd" id="qtd" value="" placeholder="quantidade" data-theme="a" style="text-align: right;">
                <label for="desconto">Desconto (%):</label>
                <input type="text" name="desconto" id="desconto" value="" placeholder="desconto" data-theme="a" style="text-align: right;">
                <div id="msg" style="color: #b70404; font-weight: bold;"></div>
                <a href="#" onclick="controllerPedido.adicionarItem('{{this.id_produto}}', $('#frmAdicionaProduto #qtd').val(), $('#frmAdicionaProduto #preco').val(), $('#frmAdicionaProduto #desconto').val());" class="ui-btn ui-corner-all ui-btn-b ui-btn-icon-left ui-icon-check">Adicionar</a>
            </div>
        </form>
    </div>
</div>
