<div data-role="header" data-position="fixed">
    {{>cabecalho}}
    <div data-role="navbar">
        <ul>
                        <li><a href="#" class="ui-btn-active">Cliente</a></li>
                        <li><a href="#" onclick="controllerCondicaoPagamento.listar('');" >Condições de pagamento</a></li>
                        <li><a href="#" onclick="controllerGenero.listar('');">Gêneros</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
<div role="main" class="ui-content" style="width:100%">
        <table  data-role="table" class="ui-responsive table-stroke table-stripe clientes-table" style="width:100%; display: table !important;">
            <thead>
                <tr>
                    <th style="width: 100px; text-align:center;">ID</th>
                    <th style="width: auto; text-align:left;">Razão social</th>
                    <th style="width: auto; text-align:center;">CNPJ</th>
                    <th style="width: auto; text-align:center;">Município</th>
                    <th style="width: auto; text-align:center;">Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#.}}
                <tr>
                    <td style="text-align: center;">{{id_cliente}}</td>
                    <td style="text-align: left;">{{razaosocial}}</td>
                    <td style="text-align: center;">{{cnpj}}</td>
                    <td style="text-align: center;">{{municipio}}</td>
                    <td style="text-align: center;">{{estadosigla}}</td>
                </tr>
                {{/.}}
            </tbody>
        </table>
</div>
