<div class="wrapper" style="height:500px; width:100%;">
    <table class="table-stripe condpag-table" style="width:100%;">
        <thead>
            <tr>
                <td style="width:100px; text-align:center;">ID</td>
                <td style="width:auto; text-align:left;">Descrição</td>
            </tr>
        </thead>
        {{#.}}
        <tr>
            <td style="text-align: center;">{{id_condicao_pagamento}}</td>
            <td style="text-align: left;">{{descricao}}</td>
        </tr>
        {{/.}}
    </table>
</div>
