<div data-role="header" data-position="fixed">
    {{>cabecalho}}
    <div data-role="navbar">
        <ul>
            <li><a href="#" onclick="controllerCliente.listar('');">Cliente</a></li>
            <li><a href="#" onclick="controllerCondicaoPagamento.listar('');" >Condições de pagamento</a></li>
            <li><a href="#" class="ui-btn-active">Gêneros</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
<div role="main" class="ui-content" style="width:100%">
    <table class="table-stripe" style="width:100%;">
        <thead>
            <tr>
                <th style="width:100px; text-align:center;">ID</th>
                <th style="width: auto; text-align:left;">Descrição</th>
            </tr>
        </thead>
        {{#.}}
        <tr>
            <td style="text-align: center;">{{id_genero}}</td>
            <td style="text-align: left;">{{nome}}</td>
        </tr>
        {{/.}}
    </table>
</div>
