<div data-role="header" data-position="fixed">
    <a href="#nav-panel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-notext ui-icon-bars">Menu</a>
    <h1 class="titulogeral">Catálogo Virtual - Listar pedidos</h1>
    <a href="#nav-panel-config" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-mini ui-corner-all ui-btn-icon-notext ui-icon-gear">Som Livre</a>
</div>
<div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-b ui-corner-all">Pedidos cadastrados</h3>
    <table class="table-stripe" style="width:100%;">
        <thead>
            <tr>
                <th style="width:40px; text-align:center;">&nbsp;</th>
                <th style="width:70px; text-align:center;">ID</th>
                <th style="width:70px; text-align:center;">Número</th>
                <th style="width:180px; text-align:center;">Criado em</th>
                <th style="text-align:left;">Cliente</th>
                <th style="text-align:left;">Condição pag.</th>
                <th style="width:120px; text-align: center;">É o atual?</th>
                <th style="width:180px; text-align:center;">Enviado em</th>
                <th style="width:50px; text-align:left;">Status</th>
                <th style="width:220px; text-align:left;">Mensagem</th>
                <th style="width:80px; text-align:center;">&nbsp;</th>
                <th style="width:80px; text-align:center;">&nbsp;</th>
            </tr>
        </thead>
    {{#each pedidos}}
            <tr>
                <td style="text-align:center;"><button class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" onClick="controllerPedido.confirmaExclusaoPedido('{{id_pedido}}','{{cliente}}');" title="Clique para excluir esse pedido">No text</button></td>
                <td style="text-align: center;">{{id_pedido}}</td>
                <td style="text-align: center;">{{numero}}</td>
                <td style="text-align: center;">{{{dt_pedido}}}</td>
                <td>{{razaosocial}}</td>
                <td>{{descricao}}</td>
                <td style="text-align: center;">{{atual}}</td>
                <td style="text-align: center;">{{{dt_envio}}}</td>
                <td style="text-align: center;">{{statusSignus}}</td>
                <td style="text-align: left; font-size: 11px;">{{{msgSignus}}}</td>
                <td style="text-align:center;">
                    <button class="ui-btn ui-icon-bullets ui-btn-icon-notext ui-corner-all" onClick="controllerPedido.itens({{id_pedido}});" style="display:inline;" title="Clique para ver os produtos"></button>
                </td>
                <td style="text-align:center;">
                {{#if ehAtual}}
                    --
                {{else}}
                    {{#if alteravel}}
                        <button class="ui-btn ui-icon-action ui-btn-icon-notext ui-corner-all" onClick="controllerPedido.reabrir({{id_pedido}});" style="display:inline;" title="Clique para abrir"></button>
                    {{else}}
                        --
                    {{/if}}                
                {{/if}}
                </td>
            </tr>
    {{/each}}
    </table>
</div>
<div data-role="popup" id="confirmaExclusaoPedido" data-history="false" data-overlay-theme="b" data-theme="a" style="max-width:450px;" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
    <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
        <h1 class="ui-title" role="heading" aria-level="1">Atenção!!</h1>
    </div>
    <div role="main" data-role="main" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Você quer mesmo excluir esse Pedido?</h3>
        <p id="descricaoConfirmaPedido"></p>
        <a id="acaoConfirmaPedidoOk" data-role="button" data-rel="back" data-theme="b" class="ui-link ui-btn ui-btn-b ui-shadow ui-corner-all" role="button">Sim. Exclua!</a>
        <a onClick="$('#confirmaExclusaoPedido').popup('close');" data-role="button" data-rel="back" data-theme="b" class="ui-link ui-btn ui-btn-a ui-shadow ui-corner-all" role="button">NÃO! Me enganei.</a>
    </div>
</div>
<div data-role="popup" id="msgPedidoListar" data-theme="a" style="max-width:480px" class="ui-corner-all ui-popup ui-body-a">
    <div data-role="main" class="ui-content">
        <p id="msgPopup">{{msg}}</p>
    </div>
</div>
