{{> pedidoMenu}}            
<div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-b ui-corner-all">Detalhes do pedido</h3>
    <form>
        <div class="ui-field-contain">
            <label for="cliente">ID:</label>
            <input type="text" id="id_pedido" value="{{id_pedido}}" disabled="disabled" style="">
            <label for="cliente">Data:</label>
            <input type="text" id="dt_pedido" value="{{dt_pedido}}" disabled="disabled" style="">
            <label for="cliente">Número:</label>
            <input type="text" id="numero" value="{{numero}}" style="">
            <label for="cliente">Cliente:</label>
            <select id="id_cliente" {{#unless editavel}}disabled="disabled"{{/unless}}>
                <option value="" >(não informado)</option>
                {{#each clientes}}
                        <option value="{{id_cliente}}" {{#if selected}}selected{{/if}} >{{razaosocial}}</option>
                {{/each}}
            </select>
            <label for="cliente">Condição de pagamento:</label>
            <select id="id_condicao_pagamento" {{#unless editavel}}disabled="disabled"{{/unless}}>
                <option value="" >(não informado)</option>
                {{#each condpag}}
                        <option value="{{id_condicao_pagamento}}" {{#if selected}}selected{{/if}}>{{descricao}}</option>
                {{/each}}
            </select>
        </div>
        {{#if editavel}}
        <div style="text-align: center;">
            <button onClick="controllerPedido.salvar($('#id_pedido').val(), $('#numero').val(), $('#id_cliente').val(), $('#id_condicao_pagamento').val(), false)" class="ui-btn ui-btn-inline ui-icon-edit ui-corner-all ">Salvar</a>
            <button onClick="controllerPedido.salvar($('#id_pedido').val(), $('#numero').val(), $('#id_cliente').val(), $('#id_condicao_pagamento').val(), true)" class="ui-btn ui-btn-inline ui-icon-check ui-corner-all ">Fechar</a>            
        </div>
        {{/if}}
    </form>
</div>
<div data-role="popup" id="msgPedidoCabecalho" data-theme="a" style="max-width:480px" class="ui-corner-all ui-popup ui-body-a">
    <div data-role="main" class="ui-content">
        <p id="msgPopup">{{msg}}</p>
    </div>
</div>
