{{> pedidoMenu}}            
<div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-b ui-corner-all">Pedido para "{{this.razaosocial}}" (aberto em {{this.dt_pedido}})</h3>
    <table class="table-stripe itens-table" style="width:100%;">
        <thead>
            <tr>
                <th style="width:40px; text-align: left;">&nbsp;</th>
                <th style="width:70px; text-align: center;">Capa</th>
                <th style="width:70px; text-align: center;">Cód.</th>
                <th style="width:80px; text-align: left;">Catálogo</th>
                <th style="width:auto; text-align: left;">Artista/Título</th>
                <th style="width:90px; text-align: right;">Valor unit.<br/>bruto</th>
                <th style="width:60px; text-align: right;">Desc. %</th>
                <th style="width:90px; text-align: right;">Valor unit.<br/>líquido</th>
                <th style="width:50px; text-align: right;">Qtd</th>
                <th style="width:110px; text-align: right;">Valor total</th>
                <th style="width:40px; text-align: center;">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {{#if produtos}}
                {{#each produtos}}
                    <tr>
                        <td style="text-align:center;">
                            {{#if ../editavel}}
                            <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" onClick="controllerPedido.confirmaExclusaoItem('{{id_itempedido}}','{{catalogo}}','{{{artista_fmt}}}', '{{{titulo_fmt}}}','{{id_pedido}}');">No text</a>
                            {{/if}}            
                        </td>
                        <td style=""><img src="file:///mnt/sdcard/com.m2software.somlivreapp/media/{{id_produto}}/imagens/thumb.jpg" style="width:65px;"/></td>
                        <td style="font-size:18px; text-align: center;">{{prod_cod}}</td>
                        <td style="font-size:18px; text-align: center;">{{catalogo}}</td>
                        <td style="">{{{artista}}}</br>"{{{titulo}}}"</td>
                        <td style="text-align: right; font-size:18px; font-weight:bold;">R$ {{preco_bruto_fmt}}</td>
                        <td style="text-align: right; font-size:18px; font-weight:bold;">{{desconto_fmt}}</td>
                        <td style="text-align: right; font-size:18px; font-weight:bold;">R$ {{preco_liquido_fmt}}</td>
                        <td style="text-align: right; font-size:18px; font-weight:bold;">{{qtd}}</td>
                        <td style="text-align: right; font-size:18px; font-weight:bold;">R$ {{total_fmt}}</td>
                        <td style="text-align:center;">
                            {{#if ../editavel}}
                            <button class="ui-btn ui-icon-carat-r ui-btn-icon-notext ui-corner-all" onClick="dbo.carregaCatalogo({{id_produto}});" title="Clique para ver os detalhes desse produto"></button>
                            {{/if}}            
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td style="text-align:right;font-weight:bold; font-size:18px;" colspan="8">TOTAL</td>
                    <td style="text-align:right; font-size:18px; font-weight:bold;">{{this.qtd_total_fmt}}</td>
                    <td style="text-align:right; font-size:18px; font-weight:bold;">R$ {{this.val_total_fmt}}</td>
                    <th style="text-align: left;">&nbsp;</th>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>
<div data-role="popup" id="confirmaExclusaoItem" data-overlay-theme="b" data-history="false" data-theme="a" style="max-width:450px;" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
    <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
        <h1 class="ui-title" role="heading" aria-level="1">Atenção!!</h1>
    </div>
    <div role="main" data-role="main" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Você quer mesmo excluir esse item?</h3>
        <p id="descricaoItem"></p>
        <a href="#" id="acaoConfirmaItemOk" data-role="button" data-rel="back" data-theme="b" class="ui-link ui-btn ui-btn-b ui-shadow ui-corner-all" role="button">Sim. Exclua!</a>
        <a href="#" onClick="$('#confirmaExclusaoItem').popup('close');" data-role="button" data-theme="b" class="ui-link ui-btn ui-btn-a ui-shadow ui-corner-all" role="button">NÃO! Me enganei.</a>
    </div>
</div>
<div data-role="popup" id="resultadoExclusao" data-theme="a" style="max-width:480px" class="ui-corner-all ui-popup ui-body-a">
    <div data-role="main" class="ui-content">
        <p id="msgPopup">{{msg}}</p>
    </div>
</div>
