{{> pedidoMenu}}            
<div role="content" class="ui-content" id="signus-content">
    <div class="ui-bar ui-bar-a ui-corner-all">
        <a href="#" class="ui-btn" onclick="javascript:controllerPedido.postEnviar();">Enviar agora</a>
        <div id="logSincronizacao" style="height:500px;background-color:#000; color:#6dff6b; font-size:13px; text-shadow:none;overflow:scroll;padding:5px;">
            (não iniciada)
        </div>
    </div>
</div>
