<div class="ui-field-contain">
    <label for="id_cliente">Cliente:</label>
    <select id="id_cliente">
        {{#each clientes}}
            <option value="{{id_cliente}}">{{fantasia}} ({{razaosocial}})</option>
        {{/each}}
    </select>
</div>
<button onclick="controllerPedido.postNovo($('#id_cliente').val(), $('#id_cliente option:selected').html());">Abrir pedido</button>
