<div data-role="header" data-position="fixed">
    {{>cabecalho}}
    {{#if itensMenu}}
    <div data-role="navbar">
        <ul>
            {{#each itensMenu}}
            <li><a href="{{href}}"  onClick="{{onclick}}" {{#if ativo}}class="ui-btn-active"{{/if}}>{{texto}}</a></li>
            {{/each}}
        </ul>
    </div><!-- /navbar -->
    {{/if}}
</div>
