<div data-role="header" data-position="fixed">
    <a href="#nav-panel" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-notext ui-icon-bars">Menu</a>
    <h1 class="titulogeral">{{titulo}}</h1>
    <a href="#nav-panel-config" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-mini ui-corner-all ui-btn-icon-notext ui-icon-gear">Som Livre</a>
    <div data-role="navbar">
        <ul>
            {{#each itensMenu}}
            <li><a href="{{href}}"  onClick="{{onclick}}" {{#if ativo}}class="ui-btn-active"{{/if}}>{{texto}}</a></li>
            {{/each}}
            <li><a href="#" onClick="ativaGenero();">Gênero</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
