<div data-role="header" data-position="fixed">
    <h1 class="titulogeral">Catálogo virtual - Cadastros</h1>
    <a href="#nav-panel-config" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-right ui-mini ui-corner-all ui-btn-icon-notext ui-icon-gear">Som Livre</a>
    <div data-role="navbar">
        <ul>
            <li><a href="#" onclick="controllerCliente.listar('');">Clientes</a></li>
            <li><a href="#" onclick="controllerCondicaoPagamento.listar('');" id="tabCata">Condições de pagamento</a></li>
            <li><a href="#" onClick="controllerGenero.listar('');">Gêneros</a></li>
            <li><a href="#" onClick="controllerProduto.listar('');" id="tabPedi">Produtos</a></li>
        </ul>
    </div><!-- /navbar -->
</div>


<div role="main" class="ui-content" id="condpag">
    <div id="produtos-content">
        <table  data-role="table" class="ui-responsive table-stroke table-stripe" style="width:100%;" id="produtos-table">
        <thead>
            <tr>
                <td style="width:100px; text-align:center;">ID</td>
                <td style="width:auto; text-align:left;">ProdCod</td>
                <td style="width:auto; text-align:left;">Catálogo</td>
                <td style="width:auto; text-align:center;">Código barras</td>
                <td style="width:auto; text-align:left;">Artista</td>
                <td style="width:auto; text-align:left;">Título</td>
                <td style="width:auto; text-align:right;">Preço</td>
            </tr>
        </thead>
        <tbody>
        {{#.}}
        <tr>
            <td style="text-align: center;">{{id_produto}}</td>
            <td style="text-align: center;">{{prod_cod}}</td>
            <td style="text-align: center;">{{catalogo}}</td>
            <td style="text-align: center;">{{codigo_barras}}</td>
            <td style="text-align: center;">{{artista}}</td>
            <td style="text-align: center;">{{titulo}}</td>
            <td style="text-align: center;">{{preco}}</td>
        </tr>
        {{/.}}
        </tbody>
    </table>
    </div>
</div>