{{> produtoMenu}}            
<div role="main" class="ui-content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar no catálogo" id="listacatalogos">
        {{#each produtos}}
        <li>
            <a href="#" onclick="javascript:controllerProduto.show({{id_produto}}, '{{../origem}}');">
                <img src="file:///mnt/sdcard/com.m2software.somlivreapp/media/{{id_produto}}/imagens/thumb.jpg" style="width:65px;"/>
                <h2>{{titulo}} ({{catalogo}})</h2>
                <p><strong>{{artista}}</strong></p>
                <p>{{texto_cheio}}</p>
                <span class="ul-li-aside">R$ {{preco_fmt}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
<div data-role="popup" id="msgProduto" data-theme="a" style="max-width:480px" class="ui-corner-all ui-popup ui-body-a">
    <div data-role="main" class="ui-content">
        <p id="msgPopup"></p>
    </div>
</div>
