
<div data-role="header" data-position="fixed">
    {{>cabecalho}}
    <div data-role="navbar">
        <ul>
            <li><a href="#panel-home" class="ui-btn-active">Lançamentos</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(2);">Mídia</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(3);">Destaque</a></li>
            <li><a href="#" onclick="controllerProduto.getListar(4);">Catálogo</a></li>
            <li><a href="#" onClick="ativaGenero();">Gênero</a></li>
        </ul>
    </div><!-- /navbar -->
</div>
<div role="main" class="ui-content" id="conteudo_coverflow">
    <div id="coverflow">
        {{#each produtos}}
        <img src="file:///mnt/sdcard/com.m2software.somlivreapp/media/{{id_produto}}/imagens/capa.jpg" alt="{{artista}} - {{titulo}}" onclick="javascript:dbo.carregaLancamento({{id_produto}});" />
        {{/each}}
    </div>
</div>
